.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 520px;
  margin: 0 auto;
}

.image {
  width: 520px;
  height: 240px;
}

.title {
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info__block {
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
