@font-face {
  font-family: "JetBrains Mono";
  src: url(../fonts/JetBrainsMono-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(../fonts/JetBrainsMono-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Iceland Regular";
  src: url(../fonts/Iceland-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
