.content {
  min-width: 320px;
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 40px 0 52px;
  overflow-y: hidden;
}
