.section {
  width: 600px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  max-height: calc(100vh - 256px - 88px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainContent::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.mainContent::-webkit-scrollbar {
  width: 8px;
}

.mainContent::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.icons__container {
  padding-top: 96px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 32px;
  grid-auto-rows: 80px;
  row-gap: 16px;
  align-items: center;
}

.cards__container {
  display: grid;
  grid-template-columns: 536px;
  grid-auto-rows: 80px;
  row-gap: 16px;
}

.order__container {
  width: 568px;
  display: flex;
  justify-content: flex-end;
}

.order__price {
  display: flex;
  justify-content: center;
  align-items: center;
}
